.legendContainer {

    position: absolute;
    bottom: 40px;
    right: 20px;
    z-index: 999;
    background-color: white;
    border-style: solid;
    border-radius: 5%;
    border-color: #8a93a7;
    border-width: 2px;
}

.layerLegendEntry {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.legendLayerText {
    text-align: center;
}