.mapdiv {
    height: 90vh;
    width: 100%;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

#userLocation {
    color: maroon
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}